.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    //border: 1px solid black;
    border-radius: 10px;;
    margin: 0 7.5px 15px;
    overflow: hidden;
  
    &:hover {
      cursor: pointer;
  
      & .background-image {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
  
      & .content {
        opacity: 0.9;
      }
    }
  
    &.large {
      height: 380px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
  
    .background-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  
    .content {
      height: 30px;
      width: 250px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid rgb(119, 119, 119);
      border-radius: 5px;
      background-color: rgb(214, 225, 235);
      opacity: 0.7;
      position: absolute;
  
      .title {
        font-weight: bold;
        margin: 0 6px 0;
        font-size: 22px;
        color: black;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }
  